@import "styleApi";

.addContainer {
  @include flexible(column, space-between);
  @include size(90%);
  padding: 5%;

}

.addOrderContainer {
  @include size($max, 70px);
}

.dropDownContainer {
  width: #{$max/3};
}

.dropContainer {
  @include flexible(row, center);
  width: 90%;
  margin-left: 5%;
  position: absolute;
  margin-right: 5%;
}

.MuiInput-underline:before {
  border-color: white !important;

}

.tableParentOrder {
  @include flexible(row, center, center);
  flex: 1;
}

.inputClassChose {
  color: white !important;
}

.iconColor {
  color: white !important;
}

.choseDealerName {
  @include text($subTitleSize);
  margin-right: 20px;
  font-weight: bold;
  color: white;
}

.addClass {
  @include text($extremeSize);
  position: absolute;
  right: 50px;
  top: 10px;
  cursor: pointer;
}

.addClass:hover {
  opacity: 0.8;
}