@import "styleApi";

.addProductContainer {
  @include flexible(row, center, center);
  @include size($fullScreenVW,$fullScreenVH);
  position: absolute;
  top: 0;
  left: 0;
  background-color: $popBack;
}

.popContainer {
  @include flexible(column, space-between);
  @include size(80%,60%);
  background-color: $themeColor;
  border-radius: 20px;
}

.multipleContainer {
  @include flexible(row, space-evenly, center);
  @include size(60%,20%);
  color: white;
  align-self: center;
  font-weight: bold;
}

.exitButtonPop {
  @include button($mediumImg);
}

.checkContainer {
  width: fit-content;
  margin-right: 10px;
}

.singleDrop {
  @include flexible(column, center, center);
  height: #{$max/5};
  min-width: #{$max/3};
}

.prefDropContainer {
  @include flexible(row, space-evenly, center);
  @include size($max,#{$max/5});
}

.textDrop {
  width: $max;
  text-align: center;
}

.rootText {
  border-color: white;
}

.animateInput {
  color: white !important;
  width: $max;
  font-weight: bold !important;
}

.animateInputText {
  color: white !important;
}

.submitButtonContainer {
  @include flexible(row, center, center);
  @include size($max,calc(15% - 40px));
  margin-bottom: 20px;
}

.submitButtonPop {
  @include button($maxImg)
}

.warrantyContainer {
  @include flexible(column, center, center);
  @include size(40%,#{$max/5});
  align-self: center;
}

.warrantyTitle {
  @include text($subTitleSize);
  margin-bottom: 10px;
  font-weight: bold;
}

.yesWarrantyText {
  cursor: pointer;
  color: $greenColor;
  padding: 5px;
  width: fit-content;
}

.noWarrantyText {
  color: $redColor;
  cursor: pointer;
  padding: 5px;
  width: fit-content;
}

.noWarrantyText:hover, .yesWarrantyText:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.problemContainer {
  @include flexible(row, center, center);
  @include size(#{$max/3},$max);
  align-self: center;
}