@import "styleApi";

.mainContainer {
  @include size($fullScreenVW, $fullScreenVH);
  background-color: $themeColor;
  overflow-x: hidden;
}

.buttonMainClass {
  @include flexible(row, center);
  text-align: center;
  width: $max;
}

.addProductContainer {
  @include flexible(row, center, center);
  @include size($fullScreenVW, $fullScreenVH);
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 3;
  background-color: $popBack;
}
::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
  height: fit-content;
}
::-webkit-scrollbar-track {

  background: $themeColor;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;

}
