@import "styleApi";

.mainContainer {
  @include size($fullScreenVW, $fullScreenVH);
  background-color: $themeColor;
  overflow: hidden;
}

.buttonMainClass {
  @include flexible(row, center);
  text-align: center;
  width: $max;
}