@import "styleApi";

.dealersItemsContainer {
  @include flexible(row, space-between);
  @include size($max, 90%);
  flex-flow: wrap;
}

.addButton {
  @include text($mainTitleSize);
  height: fit-content;
  align-self: center;
  cursor: pointer;
  margin-left: 20px;
}

.addButton:hover {
  opacity: 0.5;
}

.dealersTitle {
  @include text($titleSize);
  height: fit-content;
}

.dealersTitleContainer {
  @include flexible(row, center, center);
  width: calc(#{$max} - 20px);
}

.dealersContainer {
  @include flexible(column, space-between, center);
  @include size(60%, fit-content);
  margin-top: 100px;
  align-self: flex-end;
  max-height: 300px;
}

.dealerPopContainer {
  @include flexible(column, unset, center);
  @include size(250px,150px);
  background-color: $themeColor;
  border: addBorder(1px);
  border-radius: 10px;
  position: absolute;
  margin-left: -50px;
  margin-top: 40px;
}

.nameContainer {
  @include flexible(column, space-evenly, center);
  flex: 1;
  width: $max;
}

.nameDealer {
  @include size(90%,30%);
  @include text($textSize);
  align-self: center;
  background-color: $themeColor;
  outline: none;
  border: addBorder(1px);
}

.exitButtonContainer, .submitButtonContainer {
  @include flexible(row, flex-start);
  @include size(90%,fit-content);
  justify-self: center;
  margin: 2%;
}

.submitButtonContainer {
  @include flexible(row, center);
  margin: 0;
}

.exitButton {
  @include button($smallImg);
}

.submitButton {
  @include button($bigImg);

}
