@import "styleApi";

.homeContainer {
    width: calc(#{$max} - 40px);
    height: calc(#{$max} - 40px);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.addOrderButton:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

.addOrderText {
    border-radius: 50%;
    vertical-align: super;
    align-items: center;
}

.buttonPlus {
    width: unset;
}

.addOrderButton {
    border-radius: 50%;
    position: absolute;
    right: 20px;
    transition: all .1s;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: $mainTitleSize;
    line-height: $mainTitleSize;
    @include button(#{$maxImg+10});
}