
.itemWithUnderline {
    border-bottom: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(33% - 20px);
    height: fit-content;
    margin: 20px 10px;
    font-size: 1rem;
    cursor: pointer;
}

.itemWithUnderline:hover {
    opacity: 0.5;
}

.removeDealer {
    font-size: 1em;
    color: white;
    margin-left: 20px;
}