@import "styleApi";

.itemWithUnderline {
  @include flexible(row, center, center);
  @include text($textSize);
  @include size(calc(#{$max/3} - 20px), fit-content);
  border-bottom: addBorder(1px, white);
  text-align: center;
  margin: 20px 10px;
  cursor: pointer;
}


.itemWithUnderline:hover {
  opacity: 0.5;
}

.removeDealer {
  @include text($textSize);
  margin-left: 20px;
}