@import "styleApi";

.orderPage {
  @include flexible(column, space-between);
  @include size($max);
}

.imgIcon {
  @include button($maxImg);
}

.orderPageTable {
  @include flexible(column, space-evenly);
  width: 96%;
  margin-left: 2%;
  flex: 1;
  margin-bottom: 100px;

}

.orderHeader {
  @include flexible(row, space-between);
  @include text($textSize);
  @include size(96%, 100px);
  padding: 2%;
  border-bottom: addBorder(1px);
}

.order {
  @include flexible(column, flex-end, center);
  @include size(#{$max/3}, $max);
  align-self: baseline;
  font-weight: bold;
  padding-right: 10%;
}

.orderHeaderLeft {
  align-self: unset;
  justify-content: space-between;
  align-items: unset;
  font-weight: unset;
  padding: 0;

}

.orderHeaderRight {
  align-self: unset;
  margin-right: 0;
  font-weight: unset;
  justify-content: space-between;
  width: #{$max/5};
  padding: 0;
  align-items: center;
}

.quantity {
  @include flexible(column, unset, center);
  @include text($textSize);
  color: white;
  width: fit-content;
  min-width: 15%;
  position: absolute;
  left: 10px;
  text-align: center;
}

.prefContainer {
  @include size(200px,100px);
  @include text($textSize,$themeColor);
  @include flexible(column,space-evenly,center);
  position: absolute;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: -100px;
}