$fullScreenVH: 100vh;
$fullScreenVW: 100vw;
$max: 100%;
$themeColor: #1b1d25;
$greenColor: #39b54a;
$orangeColor: #f7931e;
$redColor: #ff0000;
$borderColor: rgba(255, 255, 255, 0.7);
$textSize: 1rem;
$titleSize: 1.5rem;
$subTitleSize: 1.2rem;
$mainTitleSize: 2rem;
$extremeSize: 3rem;
$smallImg: 15px;
$mediumImg: 20px;
$bigImg: 25px;
$maxImg: 30px;
$popBack: rgba(255, 255, 255, 0.6);
@function addBorder($width, $borderColor:$borderColor) {
  @return $width solid $borderColor;
}

@mixin flexible($dir,$organize:unset,$alignOrganize:unset) {
  display: flex;
  flex-direction: $dir;
  justify-content: $organize;
  align-items: $alignOrganize;
}

@mixin text($size,$color:white) {
  font-size: $size;
  color: $color;
}

@mixin size($width,$height:$width) {
  width: $width;
  height: $height;
}
@mixin pop($width,$height:$width,) {
  width: $width;
  height: $height;
  background-color: $themeColor;
  border-radius: 10px;
}

@mixin button($width,$height:$width) {
  width: $width;
  transition: all 50ms;
  height: $height;
  cursor: pointer;
  object-fit: contain;
  &:hover {
    opacity: 0.8;
  }
}

