@import "styleApi";

table {
  width: $max;
  margin: 10px;
  border-spacing: 0;
  overflow-y: scroll;
}

th, td {
  border-bottom: addBorder(1px);
}

.status {
  @include flexible(row, center, center);
  @include size(60%, 40px);
  @include text($textSize);
  margin-right: #{$max/5};
  margin-left: #{$max/5};
  text-align: center;
}

.subHeaderRow {
  @include flexible(row, space-between);
  width: $max;
}

.statusComplete {
  color: $greenColor;
  border: addBorder(1px, $greenColor);
}

.delete {
  color: $redColor;
  border: addBorder(1px, $redColor);
  margin: 10px 0 0 0;
  @include button(#{$max/2}, 40px);
  left: 10px;
}

.mainClassDelete {
  width: 40%;
  position: absolute;
  height: fit-content;
  top: calc(100px + 8%);
  left: 5px;
}

.MuiIconButton-root {
  color: white !important;
}

.imgIconHalf {
  @include button($smallImg)
}

.statusReturn {
  color: white;
  width: 16%;
  position: absolute;
  right: 10px;
  border: addBorder(1px, white);
  margin-right: 10px;
  cursor: pointer;
}

.statusReturn:hover {
  opacity: 0.8;
}


.statusPending {
  color: $orangeColor;
  border: addBorder(1px, $orangeColor);
}

.statusReject {
  color: $redColor;
  border: addBorder(1px, $redColor);
}
.hoverClass{
  cursor: pointer;
}
.hoverClass:hover{
  opacity: 0.8;
}

.chosenStatus {
  font-weight: bold;
  border-width: 5px;
}
.orderContainer {
  width: $max;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: #{$max/2};
  flex: 1;
}

.orderTitle {
  color: white;
  width: $max;
  text-align: left;
  font-size: $mainTitleSize;
}

.orderRow:hover {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.2);
}

.orderRowHeader {
  width: $max;
  color: white;
  height: 70px;
  border-bottom: addBorder(4px);
  text-align: center;
}

.orderRowOrder {
  width: $max;
  color: white;
  height: 60px;
  border-bottom: addBorder(4px);
  text-align: center;
}

.rowOrder {
  width: $max;
  color: white;
  height: 60px;
  border-bottom: addBorder(4px);
  text-align: center;
}

.greenWarranty {
  color: $greenColor;
}

.redWarranty {
  color: $redColor;
}

.orderRow {
  width: $max;
  color: white;
  height: 60px;
  cursor: pointer;
  border-bottom: addBorder(4px);
  text-align: center;
}

.cellTable {
  width: #{$max/11};
  text-align: center;
  align-items: center;
}

.cellOrder {
  width: #{$max/7};
  text-align: center;
  align-items: center;
}